* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  justify-content: center;
}

.content-container {
  justify-content: center;
  align-items: center;
  
}

/* ------------------ NAVBAR --------------------*/
.coupidLogo {
  cursor: pointer;
}

.navbar {
  padding: 1rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav-list li {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem 2rem;
  align-items: center;
  
}

.nav-list a{
  text-decoration: none;
  color: black;
  transition-duration: 0.4s;
}

.nav-list a:hover{
  background-color: #F7BF4F;
  padding: 1rem;
  border-radius: 2rem;;
}

.burgerMenu {
  display: none;
}


.burgerMenu div{
  width: 30px;
  height: 4px;
  margin: 6px;
  background-color: grey;
}

/* ------------------Navbar ------------------- */






/* ------------------ Bottom Navbox and Footer ------------------------*/

.bottom-navbox {
  background-color: #F7BF4F;
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 0;
  flex-wrap: wrap;
}

.contact-details {
  font-family: sans-serif;
  padding: 2rem 6rem 4rem 6rem;
  font-size: large;
  letter-spacing: 1px;
  line-height: 35px;
  text-align: left;
}

.bottom-links {
  display: flexbox;
  padding: 0rem 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.bottom-links li {
  padding: 1rem;
}

.linktable{
  font-family: sans-serif;
  padding: 1rem;
  letter-spacing: 2px;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  line-height: 35px;
  flex-wrap: wrap;
}

.linktable p {
  font-weight: 500;
  width: max-content;
  flex-wrap: column wrap;
}


footer {
  position: relative;
  justify-content: center;
  text-align: center;
  bottom: 0;
  padding-bottom: 1.5rem;
  width: 100%;
  background-color: #F7Bf4F;
  padding: 1rem;
  font-family: sans-serif;
  font-weight: bold;
  color: grey;
}
/* ------------------ Bottom Navbox and Footer ------------------------*/

/* ------------------- Home Page Content ---------------------------*/

.homePageContainer {
  padding: 3rem 0rem;
}

.homePageContainer .herocontainer {
  padding: 3rem 5rem;
}

.homeTopHero {
  background-color: #F7BF4F;
}

.homeTopHero button {
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}

.homeTopHero button:hover {
  background-color: rgb(166, 102, 39);
  cursor: pointer;
  color: white;
}

.homeBottomHero button {
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}

.homeBottomHero button:hover {
  background-color: rgb(166, 102, 39);
  cursor: pointer;
  color: white;
}
/* ------------------- Home Page Content ---------------------------*/


/* ------------- Content Error Format --------------------- */
.contenterror {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5rem 10rem;
}

.contenterror img {
  max-height: 400px;
  align-self: center;
}

.contenterror h1 {
  font-size: 40px;
  padding: 2rem 0rem;
}

.contenterror p {
  line-height: 2rem;
  font-size: 25px;
}
/* ------------- Content Error Format --------------------- */


/* ------------- Partnership Title --------------------- */


.partnerTitle {
  display: flex;
  background-color: #F7BF4F;
  justify-content: center;
  flex-direction: column;
  margin: 3rem 0rem;
  padding: 2rem 8rem;
}

.partnerTitle h2 {
  display: flex;
  justify-content: flex-start;
  flex-basis: auto;
  padding: 1rem 0rem;
  width: 40%;
}

.partnerTitle p {
  display: flex;
  justify-content: flex-start;
  flex-basis: auto;
  width: 40%;
}

.eoiForm {
  background-color: white;
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  position: relative;
  top: 4rem;
  left: -2rem;
  box-shadow: 4px 4px 4px grey;
  flex-basis: auto;
  width: 50%;
  
}

.eoiForm h2 {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.eoiForm p {
  display: flex;
  width: 100%;
  line-height: 1rem;
  padding: 1rem 0rem;
}

.eoiField {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 0rem 2rem 0rem;
}

.eoiField #input {
  height: 3rem;
  margin: 0.5rem 0rem;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px lightgrey;
  border: 1px solid black;
  width: 100%;
  padding: 0rem 1rem;
  font-size: large;
}

.eoiField #input:hover {
  border: 2px solid brown;
}

.eoiField ::placeholder {
  font-size: large;
  font-weight: bold;

}

.eoiField :focus{
  font-size: large;
  border: 2px solid brown;
}

.buttonDiv {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 1;
}

.buttonDiv button {
  cursor: pointer;
}
/* ------------- Partnership Title --------------------- */


/* ------------- Partnership Content --------------------- */
.partnerContent {
  padding: 0rem 5rem;
}

.partnerContent #howitworks {
  display: flex;
  justify-content: flex-start;
  padding: 7rem 0rem 5rem 0rem;
}
/* ------------- Partnership Content --------------------- */

/* -----------------About Us ------------------------*/
.aboutUsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.aboutUsTitle{
  padding: 5rem;
  width: 100%;
  background-color: #F7BF4F;
}

.aboutUsContainer p {
  padding: 2rem 0rem;
  font-size: large;
  line-height: 30px;
}

.aboutUsHero {
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;

}


/* -----------------About Us ------------------------*/




/*------------------- Hero Containers ---------------------*/

.herocard {
  padding: 2rem 0rem;
  display: flex;
  justify-content: left;
}


.herocontainer {
  display: flex;
  flex-direction: row;
  padding: 3rem 0rem;
  justify-content: flex-start;
}

.hero-img {
  object-fit: scale-down;
  max-width: 50%;
  padding: 0rem 1rem;
}

.hero-content {
  min-width: 50%;
  padding: 0rem 1rem;
}

.hero-content h2 {
  line-height: 2rem;
}

.hero-content p {
  padding: 2rem 0rem;
  line-height: 2rem;
}

button {
  border: none;
  padding: 1rem 3rem;
  border-radius: 2rem;
  font-size: larger;
  font-weight: bold;
  color: #7E4300;
  background-color: #F7BF4F;
  transition: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: rgb(241, 241, 241);
}
/*------------------- Hero Containers ---------------------*/

/* ------------------ View Port Settings --------------------*/

@media screen and (max-width:1260px) {
  body{
      width: 100%;
  }
}

@media screen and (max-width:1165px) {
  .nav-list {
      font-size: 19px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      padding: 0rem 0rem;
      align-items: center;
  }

  .nav-list li {
      padding: 0.5rem;
  }

  .herocard {
      display: flex;
      justify-content: center;
      max-width: fit-content;
  }
}




@media screen and (max-width:845px) {

  .nav-list {
      display: none;
  }

  .burgerMenu{
      display: block;
      cursor: pointer;
  }

  .nav-list.responsive {
      display: block;
      position: fixed;
      top: 10rem;
      height: 100%;
      width: 100%;
      background-color: #f7bf4ff3;
      overflow-x: hidden;
      transition: 0.5s;
      z-index: 1;
  }


  .nav-list li {
      position: relative;
      text-align: center;
      padding: 3rem;
      font-size: x-large;
      width:100%;
  }

  .nav-list a {
      display: flex;
      padding: 1rem;
      width: 100%;
  }

  .nav-list a:hover {
      background-color: #f6d594f3;
      color: white;
      padding: 1rem;
      border-radius: 2rem;
  }

  .burgerMenu{
      display: block;
      cursor: pointer;
  } 
  
  .partnerTitle p {
      display: flex;
      justify-content: flex-start;
      flex-basis: auto;
      width: 100%;
  }

  .partnerTitle h2 {
      display: flex;
      justify-content: flex-start;
      flex-basis: auto;
      width: 100%;
  }

  .eoiForm {
      width: 100%;
  }
}
/* ------------------ View Port Settings --------------------*/